@import "tailwindcss";

@theme {
  --color-primary:"#F81B3E";
  --color-secondary: #6C7278;
  --color-lightGray:"#DCE4E8";
  --color-textGray:"#B1B1B1";
  --color-white: #fff;
  --color-red:"#951025";
  --color-gray:"#D9D9D9";
  --color-required:"#F81B3E";
  --color-extremelightGgray:"#7C7C7C"
}